<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="m-3">

  <div style="width: 70%; padding-left: 500px;">

    <h1 class="text-primary">
      Add Income    </h1>

    <div class="mb-3">
      <label for="totalIncome">Total Income</label>
      <input type="text" id="totalIncome" class="form-control" name="totalIncome" [(ngModel)]="totalIncome">
    </div>

    <div class="mb-3">
        <label for="weeklyExpenditure">Weekly Expenditure</label>
        <input type="text" id="weeklyExpenditure" class="form-control" name="weeklyExpenditure" [(ngModel)]="weeklyExpenditure">
      </div>

      <div class="mb-3">
        <label for="monthlyExpenditure">Monthly Expenditure</label>
        <input type="text" id="monthlyExpenditure" class="form-control" name="monthlyExpenditure" [(ngModel)]="monthlyExpenditure">
      </div>

    <button type="submit" (click)="addUserIncome()" class="btn btn-primary">
      Add Income
    </button>&nbsp;
    <a routerLink="/app-user-dashboard"><button type="submit"
      class="btn btn-primary" style=" width: 100px;">Back</button></a>&nbsp;
  </div>
</body>

</html>