<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="m-3">

    <div style="text-align: center;   width: 70%; padding-left: 500px;">

        <h1 class="text-primary">
            Admin DashBoard
        </h1>

        <div class="buttons-container">
            <a routerLink="/app-list-category"><button type="button" style="width: 260px;" class="btn btn-dark">Manage
                    Category</button></a>
        </div><br><br>
        <div class="buttons-container">
            <a routerLink="/app-list-subcategory"><button type="button" style="width: 260px;" class="btn btn-dark">Manage
                    SubCategory</button></a>
        </div><br><br>
        <div class="buttons-container">
            <a routerLink="/app-listuser"><button type="button" style="width: 260px;" class="btn btn-dark">Manage
                    User</button></a>
        </div><br><br>

        <div class="buttons-container">
            <a routerLink="/app-list-manage-vendor"><button type="button" style="width: 260px;" class="btn btn-dark">Manage
                    Vendor</button></a>
        </div><br><br>

        <div class="buttons-container">
            <a routerLink="/app-user-dashboard"><button type="button" style="width: 260px;"
                    class="btn btn-dark">Manage User
                    Dashboard</button></a>
        </div><br><br>
        <div class="buttons-container">
            <a routerLink="/app-list-expense"><button type="button" style="width: 260px;" class="btn btn-dark">Manage
                    Expense</button></a>
        </div><br><br>
        <div class="buttons-container">
            <a routerLink="/app-list-account"><button type="button" style="width: 260px;" class="btn btn-dark">Manage
                    Account Type
                </button></a>
        </div><br><br>

        <div class="buttons-container">
            <a routerLink="/app-list-income"><button type="button" style="width: 260px;" class="btn btn-dark">Manage
                    Income
                </button></a>
        </div><br><br>
    </div>

</body>

</html>