<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="m-3">

    <div style="text-align: center;   width: 70%; padding-left: 500px;">

        <h1 class="text-primary">
            DashBoard
        </h1>

        <div class="buttons-container">
            <a routerLink="/app-user-dashboard"><button type="button" style="width: 260px;"  class="btn btn-success">User
                    Dashboard</button></a>
        </div><br><br>
        <div class="buttons-container">
            <a routerLink="/app-home-dashboard"><button type="button" style="width: 260px;"  class="btn btn-danger">Home
                    Dashboard</button></a>
        </div><br><br>
        <div class="buttons-container">
            <a routerLink="/app-admin-dashboard"><button type="button" style="width: 260px;"  class="btn btn-info">Admin
                    Dashboard</button></a>
        </div><br><br>


    </div>
    
</body>

</html>